*{
  margin: 0;

}
#titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 2.8em;

}
#valorReais,
#valorDolares{
border: 0;
border-bottom: 3px solid black;
}
#label{
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
}
#texto{
  font-size: 1em;
  
}